@import "../styles/index.scss";

.header {
  width: 100%;
  height: 270px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
}

.headerHeight {
  height: 100px;
}

.title,
a,
.name {
  font-family: "Imperial Script", cursive;
  color: var(--title-color);
}

.name {
  font-size: 50px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 100px;
  }
}
