@import "../styles/index.scss";

.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

  li {
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    list-style: none;
    padding: 5px 10px;
  }
}